<main>
    <h1>新規投稿</h1>
    <div class="post-total">
      <%= form_tag("/post/create") do %>
        <textarea name="content"></textarea>
        <input type="submit" value="投稿"></input>
      <% end %>
    </div>
</main>